{% extends "post/layout.html" %}
{% load static %}


{% block content %}
<div id="main_container">

        <section class="b_inner">
            <div class="contents_box">
                <article class="contents cont01">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="imgs/thumb.jpeg" alt="">
                            </div>
                            <div class="user_name">
                                <div class="nick_name">KindTiger</div>
                                <div class="country">Seoul, South Korea</div>
                            </div>
                        </div>
                        <div class="sprite_more_icon" data-name="more">
                            <ul class="more_detail">
                                <li>팔로우</li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>

                    </header>
                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{% static 'imgs/img_section/img03.jpg' %}" alt=""></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                            </div>
                            <div>
                                <div class="sprite_bubble_icon"></div>
                            </div>
                            <div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                        </div>

                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="book-mark"></div>
                        </div>
                    </div>

                    <div class="count_likes">
                        좋아요
                        <span class="count">2,351</span>
                        개
                    </div>

                    <div class="commet_container">

                        <div class="commet">
                            <div class="nick_name">
                                popo213
                            </div>
                            <div>
                                우와...너무 축하해...!!!
                            </div>
                        </div>

                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>

                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="commit_field">
                        <input type="text" placeholder="댓글달기..">

                        <div class="upload_btn">게시</div>
                    </div>
                </article>

                                <article class="contents cont01">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="imgs/thumb.jpeg" alt="">
                            </div>
                            <div class="user_name">
                                <div class="nick_name">KindTiger</div>
                                <div class="country">Seoul, South Korea</div>
                            </div>
                        </div>
                        <div class="sprite_more_icon" data-name="more">
                            <ul class="more_detail">
                                <li>팔로우</li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>

                    </header>
                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{% static 'imgs/img_section/img03.jpg' %}" alt=""></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                            </div>
                            <div>
                                <div class="sprite_bubble_icon"></div>
                            </div>
                            <div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                        </div>

                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="book-mark"></div>
                        </div>
                    </div>

                    <div class="count_likes">
                        좋아요
                        <span class="count">2,351</span>
                        개
                    </div>

                    <div class="commet_container">

                        <div class="commet">
                            <div class="nick_name">
                                popo213
                            </div>
                            <div>
                                우와...너무 축하해...!!!
                            </div>
                        </div>

                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>

                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="commit_field">
                        <input type="text" placeholder="댓글달기..">

                        <div class="upload_btn">게시</div>
                    </div>
                </article>
                
                                <article class="contents cont01">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="imgs/thumb.jpeg" alt="">
                            </div>
                            <div class="user_name">
                                <div class="nick_name">KindTiger</div>
                                <div class="country">Seoul, South Korea</div>
                            </div>
                        </div>
                        <div class="sprite_more_icon" data-name="more">
                            <ul class="more_detail">
                                <li>팔로우</li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>

                    </header>
                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{% static 'imgs/img_section/img03.jpg' %}" alt=""></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                            </div>
                            <div>
                                <div class="sprite_bubble_icon"></div>
                            </div>
                            <div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                        </div>

                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="book-mark"></div>
                        </div>
                    </div>

                    <div class="count_likes">
                        좋아요
                        <span class="count">2,351</span>
                        개
                    </div>

                    <div class="commet_container">

                        <div class="commet">
                            <div class="nick_name">
                                popo213
                            </div>
                            <div>
                                우와...너무 축하해...!!!
                            </div>
                        </div>

                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>

                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="commit_field">
                        <input type="text" placeholder="댓글달기..">

                        <div class="upload_btn">게시</div>
                    </div>
                </article>
                
                                <article class="contents cont01">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="imgs/thumb.jpeg" alt="">
                            </div>
                            <div class="user_name">
                                <div class="nick_name">KindTiger</div>
                                <div class="country">Seoul, South Korea</div>
                            </div>
                        </div>
                        <div class="sprite_more_icon" data-name="more">
                            <ul class="more_detail">
                                <li>팔로우</li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>

                    </header>
                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{% static 'imgs/img_section/img03.jpg' %}" alt=""></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                            </div>
                            <div>
                                <div class="sprite_bubble_icon"></div>
                            </div>
                            <div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                        </div>

                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="book-mark"></div>
                        </div>
                    </div>

                    <div class="count_likes">
                        좋아요
                        <span class="count">2,351</span>
                        개
                    </div>

                    <div class="commet_container">

                        <div class="commet">
                            <div class="nick_name">
                                popo213
                            </div>
                            <div>
                                우와...너무 축하해...!!!
                            </div>
                        </div>

                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>

                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="commit_field">
                        <input type="text" placeholder="댓글달기..">

                        <div class="upload_btn">게시</div>
                    </div>
                </article>
            </div>

            <div class="side_box" style="">
                <div class="user_profile">
                    <div class="profile_thumb">
                        <img src="imgs/thumb.jpeg" alt="">
                    </div>
                    <div class="detail">
                        <div class="id">kind_tigerrrr</div>
                        <div class="ko_id">심선범</div>
                    </div>
                </div>

                <article class="story_box">
                    <header class="story_header">
                        <div>스토리</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="scroll_inner">
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="timer">1시간 전</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="recommend">
                    <header class="recommend_header">
                        <div>회원님을 위한 추천</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="thumb_user">
                        <div class="profile_thumb">
                            <img src="imgs/thumb02.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="id">kind_tigerrrr</div>
                            <div class="timer">1시간 전</div>
                        </div>
                    </div>

                </article>
            </div>
        </section>

    </div>






{% endblock %}
