{% extends "post/layout.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}


{% block content %}
<div id="main_container">
    <section class="b_inner">
        <div class="contents_box">
            {% for post in posts %}
            <article class="contents cont01">
                <header class="top">
                    <div class="user_container">
                        <div class="profile_img">
                            {% if post.author.profile.picture %}
                            <img src="{{ post.author.profile.picture.url }}" alt="">
                            {% else %}
                            <img src="{% static 'imgs/thumb.jpeg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="user_name">
                            <div class="nick_name">{{ post.author.profile.nickname }}</div>
                            <div class="country">Seoul, South Korea</div>
                        </div>
                    </div>
                    <div class="sprite_more_icon" data-name="more">
                        <ul class="more_detail">
                            <li>팔로우</li>
                            <li>수정</li>
                            <li>삭제</li>
                        </ul>
                    </div>
                </header>        
                <div class="img_section">
                    <div class="trans_inner">
                        <div><img src="{{ post.photo.url }}" alt="{{ post.author }}"></div>
                    </div>
                </div>
                <div class="bottom_icons">
                    <div class="left_icons">
                        <div class="heart_btn">
                            <div class="like sprite_heart_icon_outline" data-name="{{ post.id }}"></div>
                        </div>
                        <div>
                            <div class="sprite_bubble_icon"></div>
                        </div>
                        <div>
                            <div class="sprite_share_icon"></div>
                        </div>
                    </div>
                    <div class="right_icons">
                        <div class="bookmark sprite_bookmark_outline" data-name="{{ post.id }}"></div>
                    </div>
                </div>
                <p class="like count_likes" id="like-count-{{ post.id }}">
                    <span>좋아요 {{ post.like_count }}개</span>
                </p>
                <p id="like-user-{{post.id}}" class="count_likes">
                {% if post.like_count != 0 %}
                    {% if post.like_user_set.all %}
                        {% for like_user in post.like_user_set.all %}
                        
                            {{ like_user.profile.nickname}}
                    
                        {% endfor %}님이 좋아합니다
                    {% endif %}
                {% endif %}    
                </p>
                
                <p class="bookmark-count count_bookmark" id="bookmark-count-{{ post.id }}">
                    <span>북마크 {{ post.bookmark_count }}개</span>
                </p>
                <p id="bookmark-user-{{post.id}}" class="count_bookmark">
                {% if post.bookmark_count != 0 %}
                    {% if post.bookmark_user_set.all %}
                        {% for bookmark_user in post.bookmark_user_set.all %}
                    
                            {{ bookmark_user.profile.nickname }}
                    
                        {% endfor %}님이 북마크 합니다 
                    {% endif %}
                {% endif %}    
                </p>
                <span class="content">{{ post.content }}</span>
                <div class="commet-container">
                    <div id="comment-list-ajax-post{{post.id}}">
                        {% for comment in post.comment_set.all %}
                        <div class="commet" id="comment{{ comment.id }}">
                            <div class="nick_name">{{ comment.author.profile.nickname }}{{ comment.content }}
                                {% if user == comment.author %}    
                                    <input type="button" class="del-comment" value="삭제" name="{{ comment.id}}">
                                {% endif%}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="timer">{{ post.created_at|timesince }}</div>
                
                <div id="add-comment-post{{post.id}}" class="add-comment-wrap">
                    {% if user.is_authenticated %}
                        {{ comment_form }}
                        <input type="button" class="add-comment" name="{{ post.id }}" value="게시">
                    {% else %}
                        {{ comment_form }}
                        <input type="button" class="add-comment" name="{{ post.id }}" value="게시" onclick="alert('댓글을 작성하려면 로그인이 필요합니다')">
                    {% endif %}
                </div>
            </article>
            {% endfor %}
        </div>
    </section>    
</div>
{% endblock %}









