{% extends "post/layout.html" %}
{% load static %}




{% block head %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">

{% endblock %}

{% block content %}
<section id="main_container">
        <div class="inner">
            <div class="contents_box">
                {% for post in posts %}
                <article class="contents">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                {% if post.author.profile.picture %}
                                <img src="{{ post.author.profile.picture.url }}" alt="프로필이미지">
                                {% else %}
                                <img src="{% static 'imgs/thumb.jpeg'%}" alt="프로필이미지">
                                {% endif %}
                            </div>
                            <div class="user_name">
                                <div class="nick_name m_text">{{ post.author.profile.nickname }} {{ post.id }}</div>
                                <div class="country s_text">Seoul, South Korea</div>
                            </div>
                            <div>
                                <form action="{% url 'post:post_delete' post.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="삭제">
                                    
                                </form>
                                
                            </div>
                        </div>

                        <div class="sprite_more_icon" data-name="more">
                            <ul class="toggle_box">
                               <li><input type="submit" class="follow" value="팔로우" data-name="follow"></li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>
                        
                    </header>

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{{ post.photo.url }}" alt="visual01"></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                            </div>
                            <div class="sprite_bubble_icon"></div>
                            <div class="sprite_share_icon" data-name="share"></div>
                        </div>
                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                        </div>
                    </div>

                    <div class="likes m_text">
                        좋아요
                        <span id="like-count-39">2,346</span>
                        <span id="bookmark-count-39"></span>
                        개
                    </div>

                    <div class="comment_container">
                        <div class="comment" id="comment-list-ajax-post37">
                            <div class="comment-detail">
                                <div class="nick_name m_text">dongdong2</div>
                                <div>강아지가 너무 귀여워요~!</div>
                            </div>
                        </div>
                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>
                    </div>

                    <div class="timer">{{ post.created_at|timesince }}</div>

                    <div class="comment_field" id="add-comment-post37">
                        <input type="text" placeholder="댓글달기...">
                        <div class="upload_btn m_text" data-name="comment">게시</div>
                    </div>
                    
                </article>
                {% endfor %}
            
            </div>
            <input type="hidden" id="page" value="2">

            <div class="side_box" style="">
                {% if user_profile %}
                <div class="user_profile">
                    <div class="profile_thumb">
                        <img src="{{ user_profile.picture.url }}" alt="프로필사진">
                    </div>
                    <div class="detail">
                        <div class="id m_text">{{ user_profile.user }}</div>
                        <div class="ko_name">{{ user_profile.nickname }}</div>
                    </div>
                </div>
                {% else %}
                
                <div class="user_profile">
                    <div class="profile_thumb">
                        <img src="{% static 'imgs/thumb.jpeg' %}" alt="프로필사진">
                    </div>
                    <div class="detail">
                    </div>
                </div>
                
                {% endif %}

                <article class="story">
                    <header class="story_header">
                        <div>스토리</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="scroll_inner">
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="프로필사진">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="time">1시간 전</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="recommend">
                    <header class="reco_header">
                        <div>회원님을 위한 추천</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="thumb_user">
                        <div class="profile_thumb">
                            <img src="imgs/thumb02.jpg" alt="프로필사진">
                        </div>
                        <div class="detail">
                            <div class="id">kind_tigerrrr</div>
                            <div class="time">1시간 전</div>
                        </div>
                    </div>
                </article>
            </div>


        </div>
    </section>

{% include "post/script_ajax.html" %}
{% endblock %}







